html
    head
        title="Kenziegram"
        style 
          include main.css 
    body
        form(action="/upload" method="post" enctype="multipart/form-data")
            fieldset(name="Upload Picture")
                div
                    input(type="file" name="myFile" accept="image/")
                    input(type="submit")
                div
                    input(type="reset" value="Reset the form")

        div(id="image-container")
            for i in images
                img(src=`/uploads/${i}`)

        script(src="client.js")